.fa-heart {
    color: red;
    }

    .container-fluid{
        background-color:peachpuff;
        height: 10%;
        flex: center;
       }
       .center {
        display: blue;
        margin-left: auto;
        margin-right: auto;
        width: 10%;
      }
